.sideNav {
  background-color: transparent;
  position: fixed;
  height: 100vh;
  /* Full height */
  width: 7rem;
  z-index: 1000;
  padding-left: 0.5rem;
  transition: background-color 0.3s ease, padding 0.3s ease;
}


.sideNav.scrolled {
  background-color: rgb(42, 8, 25);
  ;
}

.sideNav a {
  float: inline-start;
  text-align: left;
  padding-right: 6rem;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sideNav a:hover {
  color: black;
}

.hamburger {
  display: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

/* Mobile styles */
@media screen and (max-width: 768px) {
  .sideNav {
    padding-top: 0.5rem;
  }

  .sideNav a {
    display: none;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .hamburger {
    display: inline-block;
  }

  .sideNav .responsive {
    background-color: transparent;
    height: 100vh;
  }

  .sideNav .responsive a {
    display: block;
    float: none;
    text-align: left;
  }

  .sideNav .responsive.scrolled {
    background-color: transparent;
  }
}