/* Base styling for the topNav */
.topNav {
  background-color: rgb(42, 8, 25);
  position: fixed;
  padding-top: 1rem;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.topNav a {
  float: inline-start;
  text-align: left;
  padding: 1rem 4rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.topNav a:hover {
  background-color: #ddd;
  color: black;
}

/* Media query to hide nav links and show only one button on smaller screens */
@media screen and (max-width: 768px) {
  .topNav a {
    display: none; /* Hide all links */
  }

  .hamburger {
    display: contents;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    padding: 1rem;
  }

  .topNav.responsive {
    position: fixed;
    width: 100%;
  }

  /* Show the links when the user clicks the hamburger button */
  .topNav.responsive a {
    display: block;
    text-align: left;
    padding: 1rem;
    font-size: 2rem;
  }
}
